/* Body Style */
body {
    height: 100%;
    width: 100%;
    text-align: center;
    font-family: 'Yatra One', cursive;
    background-image: url("../src/paper_background_1.jpg");
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
}

/* Main Header (Welcome) */
h1 {
    font-size: 45px;
}

/* Timer Text Style */
body > app-component > div > div > form > div > p {
    margin: 10px;
    padding: 0px;
}

/* Panice Button (Shield) Style */
.panicButton {
    height: 250px;
    width: 250px;
    margin: 0 auto;
    background-image: url("../src/Aegis_Large.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.panicButton:hover{
    cursor: pointer;
}

/* Cancel Button ('X') Style */
.cancelButton {
    height: 250px;
    width: 250px;
    margin: 0 auto;
    background-image: url("../src/cancel.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.cancelButton:hover {
    cursor: pointer;
}

/* Subit Button Style */
.btn {
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 10px;
    border-color: black;
    color: #000000;
    font-size: 20px;
    font-family: 'Yatra One', cursive;
    background: cornsilk;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
}

.btn[disabled]{
    opacity: 0.4;
}

/* Input Style */
input {
    font-family: 'Yatra One', cursive;
    border-radius: 4px;
    background-color: cornsilk;
    border: none;
    height: 24px;
}
