<div class="container">
    <h1>AEGIS</h1>
    <h2  ng-show="!model.firstTime">Welcome, {{model.user.name}}!</h2>

    <div ng-show="model.firstTime">
        <form class="form" name="myForm">
            <div class="form-item">
                <p>Name:</p>
                <input type="text" ng-model="model.user.name" required />
            </div>
            <div>
                <p>Phone:</p>
                <input type="tel" ng-model="model.user.phone" required />
            </div>
            <div>
                <p>Street Address:</p>
                <input type="text" id="fullAddress" ng-model="model.user.address" required />
            </div>
            <div>
                <p>City:</p>
                <input type="text" id="city" ng-model="model.user.city" required />
            </div>
            <div>
                <p>State:</p>
                <input type="text" id="state" ng-model="model.user.state" required />
            </div>
            <div>
                <p>Pin:</p>
                <input type="text" ng-model="model.user.pin" required />
            </div>
            <br>
            <button class="btn" ng-click="model.submitUserInfo(model.user)" ng-disabled="myForm.$invalid">Submit</button>
        </form>
    </div>

    <div ng-show="!model.firstTime">
        <h3 ng-show="!model.policeCalled && !model.cancelDisabled">Press The Shield To Send Police!</h3>
        <div ng-show="!model.policeCalled && !model.cancelDisabled" class="panicButton" ng-click="model.panicClicked()"></div>

        <h3 ng-show="model.policeCalled && !model.cancelDisabled">Press The X To Dismiss Police!</h3>
        <h4 ng-show="model.policeCalled && !model.cancelDisabled">{{model.countDown}} Seconds Remaining!</h4>
        <div ng-show="model.policeCalled && !model.cancelDisabled" class="cancelButton" ng-click="model.cancelPanic()"></div>
        
        <h3 ng-show="model.cancelDisabled" class="cancelDisabled">Police Cancel Disabled! <br>The Police Are On The Way!</h3>
    </div>

</div>
